.category-ribbon {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.category-ribbon > button,
.category-ribbon > a {
    margin: 20px;
}
.category-ribbon > a:hover {
    text-decoration: underline;
}
.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card {
    max-width: 300px;
    max-height: 600px;
    margin: 40px;

    border-radius: 10px;
    overflow: hidden;
    transition: ease-out box-shadow 0.3s;
}
.project-card:hover{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.24);
}
.project-card-image {
    overflow: hidden;

}
.project-card-image > img {
    width: 100%;
    height: 200px;

    object-fit: cover;
    transition: ease-out transform 0.3s;
}
.project-card-image>img:hover {
    transform: scale(1.2);
}
.project-card-details {
    padding: 10px;
}

.project-card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}