footer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

footer > * {
    margin: 20px;
}

footer > ul {
    display: flex;
    list-style: none;
}
footer > ul > li,
footer > p {
    padding: 0 10px;
}