{% extends 'shared/base.html' %}

{% block content %}
    <section class="category-ribbon">
        <a href="#">All</a>
        <button class="btn"><a href="#">Interior designers</a></button>
        <button class="btn"><a href="#">Product designers</a></button>
        <button class="btn"><a href="#">Visualizers</a></button>
        <button class="btn"><a href="#">Other</a></button>
    </section>

    <section class="project-list">
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-vecislavas-popa-1571460.jpg" alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                    See details
                </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-victoria-borodinova-3315291.jpg" alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                    See details
                </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-pixabay-266688.jpg" alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                    See details
                </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-dmitry-zvolskiy-2082087.jpg" alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                    See details
                </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image">
                <img src="./static/images/pexels-colour-creation-112811.jpg" alt="project image">
            </div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                    See details
                </a></button>
            </div>
        </article>
    </section>
{% endblock %}