{% extends 'shared/base.html' %}

{% block content %}
    <section class="project-details">
        <div class="project-details-image">
            <img src="{{ design.image.url }}" alt="project image">
        </div>
        <div class="project-details-info">
            <h3 class="project-details-title">
                {{ design.title }}
            </h3>
            <ul>
                <li>Creator: <a href="#">John Smith</a></li>
                <li>Location: {{ design.city }}, {{ design.country }}</li>
                <li>Likes: {{ likes }} <button type="submit" class="like-btn"><i class="far fa-heart"></i><i class="fas fa-heart" style="display: none;"></i></button></li>
            </ul>
            <p>{{ design.description }}</p>
            <section class="button-controls">
                <button class="btn"><a href="{% url 'edit design' design.id %}">
                    Edit
                </a></button>
                <button class="btn"><a href="#">
                    Delete
                </a></button>
            </section>
        </div>
    </section>
    <section class="project-comments-section">
        <h2 style="margin:0;">Comments</h2>
        <article class="comment">
            <p class="comment-name">
                John Smith
            </p>
            <p class="comment-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, asperiores.
            </p>
        </article>
        <article class="comment">
            <p class="comment-name">
                John Smith
            </p>
            <p class="comment-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, asperiores.
            </p>
        </article>
        <article class="comment">
            <p class="comment-name">
                John Smith
            </p>
            <p class="comment-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, asperiores.
            </p>
        </article>
        <form action="#" method="post">
            <label for="comment">Add a comment</label>
            <textarea name="comment" id="comment-text" rows="2"></textarea>
            <input type="submit" value="Submit comment" class="btn">
        </form>
    </section>
{% endblock %}