{% extends 'shared/base.html' %}

{% block content %}
    <section class="form">
        <h1>Edit project</h1>
        <form action="">
            <label for="name">Project title</label>
            <input type="text" name="name" id="name">
            <label for="city">Location</label>
            <input readonly="readonly" type="text" name="city" id="city" placeholder="City, country">

            <label for="intro">Short description</label>
            <textarea type="text" name="intro" id="intro" rows="4"></textarea>

            <label for="image">Upload image</label>
            <input type="file" name="image" id="image">
            <button type="submit" class="btn">Edit</button>
        </form>
    </section>
{% endblock %}