{% extends 'shared/base.html' %}
{% load static %}
{% block index_image %}
    <img id="home-page-background" src="{% static 'images/pexels-andrew-neel-7932264.jpg' %}" alt="">
{% endblock %}

{% block content %}
    <article class="home-intro">
        <h1 class="home-intro-heading">
            Interior House
        </h1>
        <p class="home-intro-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae reiciendis a doloribus possimus ut quisquam autem, illo, reprehenderit veritatis tempora iure blanditiis, ipsam cum. Aliquam ullam obcaecati debitis id culpa?
            Porro beatae architecto dolor officiis obcaecati ipsum repellat, accusamus fuga reiciendis assumenda eveniet unde veniam harum laboriosam at. Laboriosam molestiae architecto soluta dignissimos possimus? Quibusd
        </p>
        <button class="btn"><a href="./catalogue.html">See projects</a></button>
    </article>
{% endblock %}
{% block footer %} {% endblock %}