{% extends 'shared/base.html' %}

{% block content %}
    <section class="profile-info">
        <img src="./static/images/default-profile-image.png" alt="">
        <article class="profile-details">
            <h3>John Smith</h3>
            <h5>Product designer</h5>
            <p><span>Projects completed:</span>10</p>
            <p><i class="fas fa-map-marker-alt"></i> Sofia, Bulgaria</p>
        </article>
    </section>
    <section class="profile-intro">
        <h3>A little bit about John</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reiciendis ipsum minima vitae excepturi
        iste harum corrupti incidunt ducimus. Commodi ratione itaque debitis placeat voluptatum similique cumque
        qui, blanditiis voluptatibus.
    </section>

    <section class="project-list">
        <h1>No projects to show yet.</h1>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-vecislavas-popa-1571460.jpg"
                    alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                        See details
                    </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-victoria-borodinova-3315291.jpg"
                    alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                        See details
                    </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-pixabay-266688.jpg"
                    alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                        See details
                    </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image"><img src="./static/images/pexels-dmitry-zvolskiy-2082087.jpg"
                    alt="project image"></div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                        See details
                    </a></button>
            </div>
        </article>
        <article class="project-card">
            <div class="project-card-image">
                <img src="./static/images/pexels-colour-creation-112811.jpg" alt="project image">
            </div>
            <div class="project-card-details">
                <h3 class="project-card-title">
                    Project title
                </h3>
                <p class="project-card-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button class="btn"><a href="#">
                        See details
                    </a></button>
            </div>
        </article>
    </section>
{% endblock %}