{% extends 'shared/base.html' %}

{% block content %}
    <section class="form">
        <h1>Registration form</h1>
        <form action="">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter first & last name">
            <label for="city">Location</label>
            <input type="text" name="city" id="city" placeholder="City, country">

            <label for="profession-branch">Type of professional</label>
            <select name="profession-branch" id="professions-list">
                <option value="interior-designer">Interior designer</option>
                <option value="product-designer">Product designer</option>
                <option value="visualizer">Visualizer</option>
                <option value="other">Other</option>
            </select>

            <label for="intro">Tell us about yourself</label>
            <textarea type="text" name="intro" id="intro" rows="3"></textarea>

            <label for="username">Username</label>
            <input type="text" name="username" id="username" >
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="repass">Repeat password</label>
            <input type="password" name="repass" id="repass">
            <button type="submit" class="btn">Register</button>
        </form>
        <p>
            Already have an account? Login <a href="./login.html">here.</a>
        </p>
    </section>
{% endblock %}